@model IEnumerable<TravelReviewWebApp.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 class="body-content">Reviews</h2>

<p class="body-content">
    @Html.ActionLink("Create New", "Create")
</p>

@* Adding the styled cards for each review *@
<div class="row body-content">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail reviewThumbnail">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p>
                    @if (item.Stars == 1)
                    {<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>}

                    else if (item.Stars == 2)
                    {<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>}

                    else if (item.Stars == 3)
                    {<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>}

                    else if (item.Stars == 4)
                    {<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>}

                    else if (item.Stars == 5)
                    {<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>}

                </p>
                <p>@Html.DisplayNameFor(model => model.Category.Name) : @Html.DisplayFor(modelItem => item.Category.Name)</p>
                <p>@Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) | @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID }) </p>
            </div>
        </div>
    }
</div>

<br />


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
            </td>
        </tr>
    }

    </table>*@
